body{
	background-color: #f5d9df;
	font-family: nunito;
}
#mainnavbar .navbar-brand{
	color:#ea1c2c;
	
}

#mainnavbar {
	size:2rem;
	font-weight: 100;
}
#mainnavbar .nav-link {
	color: white;

} 
#mainnavbar .nav-link:hover {
	color: #ea1c2c;
} 
#headingGroup span{
color:#ea1c2c;
}

h1{
	font-weight: 100;
	font-size: 3rem;
}
@media(max-width:1200px){
	#headingGroup h1{
	font-weight: 100;
	font-size: 2rem;
}
}
#heading{
	font-weight: 100;
	color:#ea1c2c;
	font-size: 2.1rem;

}
#para{
	font-size:1.125rem;
	color:#f498b8;
	font-weight: 100;
	line-height: 2;

}
.content{
	margin-top: 100px;

}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}