.jumbotron{
	margin-top:20px;
	background-image: url(sk.jpg); 
	opacity: 0.8;
	background-position: center;
	background-size:fill;
	min-height: 100%;
	height: 100%;


}

.display-4{
	opacity: 1;
}