
body {
    
    background-image: url(https://images.unsplash.com/photo-1583482183620-f692113aafc3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80);
    background-size: cover;
    background-position: center; 
    
   
}

body,
html {
    width: 100%;
    height: 100%;

    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
    color:#F0EBEB;
}


.content{
	padding-top: 10%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(255,255,255,0.1),
                 0px 8px 13px rgba(255,255,255,0.2),
                 0px 18px 23px rgba(255,255,255,0.1);

    color:#BBB7B7;
    font-family: 'Alegreya', serif;


}

hr {
    width: 400px;
    border-top: 2px solid #D8CECE;
    border-bottom: 2px solid #D8CECE
}
div.ex1 {
  overflow: scroll;
}

.nav-link:hover{
    transition-property: background;
    transition-duration: 1s;
    background: rgba(0,0,0,0.2);
    }

.dropdown-item:hover{
    transition-duration: 0.6s
    background-color: rgba(0,0,0,0.2);
    text-decoration: bold;


}
i{
    padding: 5px;
}
.navbar-brand{
    padding-left: 3px;
   
    font-size: 50px;
}
i{
    color:#201F1F;
}
i:hover{
    
    transition-duration: 0.8s;
    transform: scale(1.2); 
}
h3{
    font-size:20px;


letter-spacing: 2px;
}

.subhead{
    padding-top: 10px
    font-size: 24px;
    font-family: 'lato'
    color:#817E7E;
}
img{
    height:200px;
    width: 200px;
    padding-bottom: 10px
}
.navbar-trans{
    background: rgba(255,255,255,0.3);
}
img{
    opacity: 0.9
}
.btn-dark{
    opacity: 0.8;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.02);
}
.dropdown-menu{
    opacity: 0.95;
}
.dropdown-item:hover{
    transition-duration: 1s;
    transform:scale(1.1);
    
}
.dropdown-divider{
    opacity:0.3;
}

.mail{
    color: #E7E7E7;
    opacity:0.9;
}